.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  height: 180px;
  border-style: solid;
  border-width: 2px;

  padding-left: 20px;
  padding-top: 10px;
}
.add {
  width: 200px;
}
.btn {
  width: 100px;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
